* {
    margin: 0px;
    padding: 0px;
}

.header {
    margin: 20px;
}

.address {
    margin: 20px;
}

.address h2 {
    font-weight: lighter;
}

.interest--names h2 {
    font-weight: lighter;
    border: red dotted 2px;
    padding: 30px 40px;
    margin: 10px;
    flex-basis: 16%;
    
}

.interests {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



